apiVersion: 1

providers:
  - name: "Face Recognition"
    orgId: 1
    folder: "Face Recognition"
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: true
    options:
      path: /etc/grafana/provisioning/dashboards
      foldersFromFilesStructure: true

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: GET
      prometheusType: Prometheus
      prometheusVersion: 2.48.0
    secureJsonData:
      password: ''
    version: 1