apiVersion: 1

providers:
  - name: "Face Recognition"
    orgId: 1
    folder: "Face Recognition"
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: true
    options:
      path: /etc/grafana/provisioning/dashboards
      foldersFromFilesStructure: true